body {
  background-color: #f3f2ef;
}

.mainContainer {
  margin-top: 100px;
  /*   */
  justify-content: center;
  /*  margin: 0 auto; */
  width: 80%;
}

.mainBody1 {
  max-width: 100%;
  padding-inline: 0px;
}

.jumbo {
  border: 1px solid lightgray;
  border-radius: 5px;
  position: relative;
}

.profileIconRow {
  margin-bottom: 15px;
}

a {
  color: #0a66c2;
  text-decoration: none;
}
.profileIcon {
  position: relative;
  align-items: flex-end;
}

.profileButton {
  background-color: white;

  border-radius: 50%;
  border: 3px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  padding: 0 !important;
}

.profileButton:hover {
  border: 3px solid white;
  color: white;
}

.roundedImg {
  border-radius: 50%;
  min-width: 120px;
  height: 120px;
  object-fit: cover;
}

.jumboRow {
  display: flex;
  justify-content: space-between;
  /* text-align: justify; */
  background-color: white;
  padding: 20px 30px;
  width: 100%;
  margin: 0px !important;
}
.jumboImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.jumboRow h2,
h4 {
  font-weight: 400;
}
.jumboRow-col1 {
  flex: 0 0 70%;
}
.jumboRow-col1 p {
  margin-bottom: 0px;
}
.jumboRow-col2 {
  display: flex;
  flex: 0 0 30%;
  justify-content: flex-end;
}

.currentRole {
  margin-bottom: 0;
  margin-left: 2px;
}

.jumboRow-col2 > div {
  display: flex;
  justify-content: space-between;
}

#description {
  font-size: 18px;
}

.infoRow {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  font-size: 16px;
}

.aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: justify; */
  background-color: white;
  padding: 20px 30px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.Icon {
  padding-inline: 7px;
  font-size: 20px;
}

.infoRow ul {
  list-style-type: none;
}
.infoRow ul a {
  text-decoration: none;
}

.infoRow li {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}
.infoRow li:hover {
  text-decoration: underline;
}
.btn-primary {
  border-radius: 50px;
  background-color: white;
  color: var(--color-text-low-emphasis-shift);
  border: 1.8px solid rgb(170, 170, 170);
  padding-left: 1.4rem !important;
  padding-right: 1.4rem !important;
  line-height: 1rem !important;
}
.btn-primary:hover {
  background-color: #f3f2ef;
}

.infoRow > ul > li:first-of-type button {
  background-color: #0a66c2;
  color: white;
  border: 1.8px solid #0a66c2;
}

.infoRow > ul > li:first-of-type button:hover {
  background-color: #004182;
  color: white;
  border: 1.8px solid #004182;
}

.btn-primary:hover {
  border-radius: 50px;
  background-color: #ebebeb;
  color: var(--color-text-low-emphasis-shift);
  border: 1.8px solid #5e5e5e;
}
.addExp {
  cursor: pointer;
}

.editExp {
  cursor: pointer;
  display: none;
}
.specialeditExp {
  cursor: pointer;
}
.expClass0 {
  flex-grow: 1;
}
.expClass h6 {
  margin-bottom: 0px;
}

.workCompany {
  font-size: 14px;
}

.divExp:hover .editExp {
  display: block;
}

.activityDiv {
  padding: 20px 30px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  margin-top: 20px;
}

.sectionTitle {
  font-size: 1.2rem;
  line-height: 1.4;
}

.expDetails {
  color: #585858;
  font-size: 14px;
  font-weight: 400;
}
