p {
  font-size: 0.7rem;
}

.br {
  border-right: 0.5px solid rgb(235, 235, 235);
}

.search {
  max-width: 10rem;
  position: relative;
  left: 3rem;
  background-color: rgb(238, 243, 248);
}
.search:focus {
  box-shadow: none !important;
  background-color: rgb(238, 243, 248) !important;
  border: 1px solid #ced4da !important;
}
.redLink {
  color: rgb(173, 89, 7);
}
.redLink:hover {
  text-decoration: underline;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
}
